airflow:
  image: puckel/docker-airflow
  ports:
    - 8080:8080
  command: webserver
  environment:
    - AIRFLOW__CORE__FERNET_KEY=f8qhkvGQbO8CwTDNn2sVCwaxVRjnRYreMQ02goLBVRU=
  volumes:
    - ./dag:/usr/local/airflow/dags
    - ./input:/home/excel
    - ./output:/home/csv